:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #e5e5e5;
  --color-light-gray: #f3f3f3;
  --color-dark-gray: #7d7d7d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white);
  color: var(--color-dark-gray);
  font:
    14px var(--font-lb),
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-black);
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img {
  display: block;
}

.no-scroll {
  overflow: hidden;
}
